@model EditCourseFormViewModel

@{
    ViewData["Title"] = "Edit Course";
}
<div class="container mt-5 d-flex justify-content-start">
    <div class="col-sm-6">

        <h2 class="fs-3 mb-4">
            <i class="bi bi-pencil-square me-2"></i> @ViewData["Title"]
        </h2>

        <form asp-controller="Course" asp-action="Edit" method="post">

            <!-- Hidden Id -->
            <input type="hidden" asp-for="Id" />

            <!-- Name -->
            <div class="mb-4 row">
                <div class="col-md-6">
                    <label asp-for="Name" class="form-label fw-bold"></label>
                    <input asp-for="Name" value="@Model.Name" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <!-- Hours -->
            <div class="mb-4 row">
                <div class="col-md-6">
                    <label asp-for="Hours" class="form-label fw-bold"></label>
                    <input asp-for="Hours" value="@Model.Hours" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="Hours" class="text-danger"></span>
                </div>
            </div>

            <!-- Degree -->
            <div class="mb-4 row">
                <div class="col-md-6">
                    <label asp-for="Degree" class="form-label fw-bold"></label>
                    <input asp-for="Degree" value="@Model.Degree" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="Degree" class="text-danger"></span>
                </div>
            </div>

            <!-- Minimum Degree -->
            <div class="mb-4 row">
                <div class="col-md-6">
                    <label asp-for="MinDegree" class="form-label fw-bold"></label>
                    <input asp-for="MinDegree" value="@Model.MinDegree" type="text" class="form-control form-control-lg">
                    <span asp-validation-for="MinDegree" class="text-danger"></span>
                </div>
            </div>
         
            <!-- Department Dropdown -->
            <div class="mb-4">
                <label asp-for="SelectedDepartment" class="form-label fw-bold"></label>
                <select asp-for="SelectedDepartment" asp-items="Model.Departments" class="form-control form-control-lg">
                    <option value="">Select Department</option>
                </select>
                <span asp-validation-for="SelectedDepartment" class="text-danger"></span>
            </div>

            <!-- Buttons -->
            <div class="row">
                <div class="col-md-6 d-flex gap-2">
                    <a asp-action="Index" asp-controller="Course" class="btn btn-secondary btn-lg">
                        <i class="bi bi-arrow-left-circle me-1"></i> Back
                    </a>
                    <button type="submit" class="btn btn-info btn-lg">
                        <i class="bi bi-plus"></i> Save
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


